.shelter-h1-container {
  background-color: #ede2f0;
  height: 20px;
}

.shelter-h1 {
  font-size: 25px;
  padding: 10px;
}

.shelter-search-container {
  background-color: #ede2f0;
  height: 10vh;
}

