.login-h1 {
    font-size: 26px;
}

.login-error {
    color: red;
    font-size: 16px;
}

.login-but {
    border-radius: 100px;
    background-color: white;
    border-width: 1px;
    border-color:#EDE2F0;
    font-size: 14px;
    line-height: 14px;
}

.login-but:hover {
    background-color: #B575BF;
    color: white;
}

.signup-link {
    color:#B575BF;
}

.signup-link:hover {
    color:black;
}