* {
    padding: 0;
    margin: 0;
}

.links {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 10px;
}

.links:hover {
    color: white;
}

.nav-link {
    color: black;
}

.return-to-bar {
    background-color: #EDE2F0;
}

.return-to-bar button {
    background-color: #FFFFFF;
}

.return-to-bar button:hover {
    background-color: black;
    color: white;
}

.container {
    background-color: #EDE2F0;
    width: 100;
    text-align: center;
    padding: 1rem 0
}

.application-form {
    display: flex;
    margin: 4rem;
    align-items: flex-start;
    justify-content: center;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.picture {
    border-radius: 260px;
    background: #EDE2F0;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 1rem;
}

.message button {
    background: #B575BF;
    border: none;
}

#location-field {
    margin-bottom: 4rem;
}

#other-field {
    margin-bottom: 3rem;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.field label {
    margin-bottom: .3rem;
}

.field input {
    border-radius: 10px;
    background: #EDE2F0;
    padding: .5rem;
    border: none;
}

.field textarea {
    border-radius: 10px;
    background: #EDE2F0;
    padding: .5rem;
    border: none;
}

.phone-number {
    margin-bottom: 3rem;
}

.view-only {
    border-radius: 100px;
    background: #B575BF;
    padding: 0.5rem 1.5rem;
    width: 70px;
    text-align: center;
}

.col1 {
    margin-right: 4rem;
}

.return-btn {
    border-radius: 100px;
    background: #fff;
    text-align: center;
    width: fit-content;
    padding: 0.5rem 1.5rem;
}

#return {
    padding-left: 3rem;
}

.create-profile {
    display: flex;
}

.create-profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-profile-title h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.pet-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 4rem;
}

.save-btn {
    border-radius: 100px;
    background: #B575BF;
    text-align: center;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    min-width: 80px;
    margin-right: 3rem;
}

.cancel-btn {
    color: #fff;
    border-radius: 100px;
    background: #000;
    text-align: center;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    min-width: 80px;
}

.create-btn {
    display: flex;
}

.notification {
    display: flex;
    margin: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.noti-container {
    background-color: #EDE2F0;
    width: 100;
    text-align: left;
    padding: 1rem 2rem;
}

.noti-picture {
    border-radius: 260px;
    background: #EDE2F0;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 2rem;
}

.info-and-pic {
    display: flex;
    align-items: center;
}

.user-pic {
    border-radius: 260px;
    background: #EDE2F0;
    max-width: 50px;
    max-height: 50px;
    margin-right: 1rem;
}

.active-chat {
    background-color: #EDE2F0;
}

.user-chat {
    border-radius: 28px;
    background: #EDE2F0;
    width: fit-content;
}

.text-box {
    border-radius: 28px;
    border: 1px solid #9C9293;
    background: #FFF;
    width: 40vw;
    height: 40px;
}

@media only screen and (max-width: 740px) {
    .application-form {
        flex-direction: column;
        align-items: center;
    }
    .profile-picture {
        margin-right: 0;
    }

}