body {
    margin: 0;
}
.nav-bar {
    background-color: #B575BF;
}

.logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.links {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-right: 10px;
}

.links:hover {
    color: white;
}

.nav-link {
    color: black;
}

.return-to-bar {
    background-color: #EDE2F0;
}

.search-btn {
    background-color: #FFFFFF;
}

.search-btn:hover {
    background-color: black;
}

.pet-detail-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/* .btn:hover {
    background-color: #FFFFFF;
    color: black;
} */

.adoption-btn {
    background-color: black;
    color: #FFFFFF;
}

.adoption-btn:hover {
    background-color: #FFFFFF;
    color: black;
}
