.shelter-name-banner {
  background-color: #ede2f0;
  height: 20vh;
  align-items: center;
}

.shelter-logo-container {
  height: 100%;
}

.shelter-logo {
  border-radius: 50%;
  max-height: 100%;
  width: auto;
}

.profile-pic {
  border-radius: 50%;
  max-width: 75%;
}

.shelter-name {
  text-align: center;
  font-size: 5rem;
}

.shelter-details {
  text-align: center;
}

.separator {
  width: 100%;
  border-bottom: solid rgb(59, 59, 59) 1px;
}

.card {
  width: 30rem;
}

.d-flex {
  gap: 1.5rem;
}

.glyphicon {
  transform: scale(400%);
  width: 60px;
  height: 15px;
}

.selected {
  color: #b575bf;
}

.stars-container {
  padding-left: 70px;
}

.review-user,
.review-content {
  border: solid rgb(138, 134, 134) 1px;
  background-color: #ede2f0;
}

.review-user {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: none;
}

.review-content {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: none;
}

.card {
  background-color: #ede2f0;
  border: solid black 1px;
}

.card-body {
  border-top: solid black 1px;
}
