.shelter-name-banner {
  background-color: #ede2f0;
  height: 20vh;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.shelter-name {
  font-size: max(calc(1.375rem + 2vw), 2.25em);
}

.shelter-logo {
  border-radius: 50%;
}

.profile-pic,
.profile-pic-xs {
  border-radius: 50%;
}

.profile-pic-xs {
  max-width: 80%;
}

.separator {
  width: 100%;
  border-bottom: solid rgb(59, 59, 59) 1px;
}

.card {
  width: 30rem;
}

.d-flex {
  gap: 1.5rem;
}

.glyphicon {
  font-size: min(6vw, 6rem);
}

.selected {
  color: #b575bf;
}

.review {
  border: solid rgb(138, 134, 134) 1px;
  background-color: #ede2f0;
  border-radius: 10px;
}

.card {
  background-color: #ede2f0;
  border: solid black 1px;
}

.card-body {
  border-top: solid black 1px;
}
